<!doctype html>
<html <%- __HEAD__.htmlAttributes %> class="application-waiting dom-waiting win-waiting auth-waiting">
<head>
  <meta charset="UTF-8">
  <%- __HEAD__.title %>
  <%- __HEAD__.base %>
  <script>
    <%- include ../0_partials/_htmlClassListDecorator.js %>
  </script>
  <script>
    <%- include ../0_partials/_polyfills.js %>
  </script>
  <script>
    (function(w,p){
      w[p] = <%- JSON.stringify(__INITIAL_STATE__) %>;
    })(window,'__INITIAL_STATE__')
  </script>

  <link rel="stylesheet" href="<%- CSS %>/<%- MAIN_ENTRY %>.css"></link>
  <%- __HEAD__.meta %>
  <%- __HEAD__.link %>
  <%- __HEAD__.script %>
  <%- __HEAD__.style %>
  <%- include ../0_partials/head.ejs %>
</head>
<body>

<div application-root><%- __PRERENDERED_HTML__ %></div>

<div hidden class="hidden" id="Scripts">
  <script src="<%- ASSETS %>/<%- DLL.essentials %>.js"></script>
  <script src="<%- ASSETS %>/<%- MAIN_ENTRY %>.js"></script>
</div>
</body>
</html>

