<!doctype html>
<html <%- Head.htmlAttributes %>>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <%- Head.title %>
  <%- Head.base %>
  <link rel="stylesheet" href="<%- CSS %>/<%- MAIN_ENTRY_FILENAME %>.css"></link>
  <script>(function(w,p){w[p]=<%- JSON.stringify(initialState) %>})(window,'__INITIAL_STATE__')</script>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <%- Head.meta %>
  <%- Head.link %>
  <%- Head.script %>
  <%- Head.style %>
</head>
<body>

<div application-root><%- prerenderedHtml %></div>

<div hidden class="hidden" id="Scripts">
  <script src="<%- ASSETS %>/<%- DLL.essentials %>.js"></script>
  <script src="<%- ASSETS %>/<%- MAIN_ENTRY_FILENAME %>.js"></script>
</div>
</body>
</html>

